/* reset */
body,h1,p{
  margin:unset;
}

h1,p{
  font-size: 14px;
  font-weight: normal;
  font-family: arial;
}

:root{
  background-color: #dddddd;
}
/* layout */
.l_wrapper{
  width: 980px;
  margin: 0 auto;

  
}
/* header */
.header{
  background-image: url(images/insideout-bg.png);
  height: 400px;
  display: flex;
  align-items: center;
  
}
.header-text{
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;

  border-radius: 8px;
  background-color: #EA3629;
}
/* main */
.main{
  
}

.contents{
  display: flex;
  position: relative;
  min-height: 317px;
  justify-content: flex-end;
  gap:30px;
  padding-right: 40px;
  margin-top: 80px;
  border-radius: 12px;

  background-color: #ffffff;
}

.info{
  width: 294px;
  margin-top: 100px;

  font-size: 16px;
  font-weight: normal;
  line-height: 160%;
  color:#aaaaaa;
}

.character-img{
  width: 240px;
  height: 240px;

  position: absolute;
  right: 720px;
}

.character-name{
  position:absolute;
  top: 31px;
  right: 40px;
  

  color: #FFAD08;
  font-size: 32px;
  font-weight: 900;
}

.character-name::after{
  content: ' ';
  display:block;
  background-color: #FFE53C;
  width: 77px;
  height: 10px;
  border-radius: 20px;
}

