/* reset */
body,h1,p{
  margin:unset;
}

h1,p{
  font-size: 14px;
  font-weight: normal;
  font-family: arial;
}

:root{
  background-color: #dddddd;
}
/* layout */
.l_wrapper{
  width: 980px;
  margin: 0 auto;

  
}
/* header */
.header{
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.header-bg-img{
  min-width: 1920px;
  min-height: 400px;
  position: absolute;
  z-index: -1;
  width:max-content;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.header-text{
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;

  border-radius: 8px;
  background-color: #EA3629;
}
/* main */
.main{
  gap:80px;
}

.contents{
  display: flex;
  position: relative;
  min-height: 317px;
  justify-content: flex-end;
  gap:30px;
  padding: 0 40px;
  margin: 80px 0;
  border-radius: 12px;

  background-color: #ffffff;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  
}

.contents-revers{
  flex-direction: row-reverse;
}


.info{
  width: 294px;
  margin-top: 100px;

  font-size: 16px;
  font-weight: normal;
  line-height: 160%;
  color:#aaaaaa;
}

/*img*/
.character-img{
  width: 240px;
  height: 240px;
}

.joy-img{
  position: absolute;
  right: 720px;
}

.anger-img{
  position: absolute;
  top: 77px;
  right: 720px;
}

/*name*/
.character-name{
  position:absolute;
  top: 31px;
  right: 40px;
  
  font-size: 32px;
  font-weight: 900;
}
.name-reverse{
  position:absolute;
  top: 31px;
  left: 40px;
  
  font-size: 32px;
  font-weight: 900;
}

.joy-name{
  color: #FFAD08;
}
.joy-name::after{
  content: ' ';
  display:block;
  background-color: #FFE53C;
  width: 77px;
  height: 10px;
  border-radius: 20px;
}

.sad-name{
  color: #578DF9;
}
.sad-name::after{
  content: ' ';
  display:block;
  background-color: #B3E2FF;
  width: 173px;
  height: 10px;
  border-radius: 20px;
}

.anger-name{
  color:#E9292C;
}
.anger-name::after{
  content: ' ';
  display:block;
  background-color: #FF9680;
  width: 131px;
  height: 10px;
  border-radius: 20px;
}

